---
import Layout from "../../layouts/Layout.astro";
import * as whatIs from "../../content/zh/what-is.md";
import { getLangFromUrl, useTranslations } from "../../i18n/ui";
import Footer from "../../components/Footer.astro";
import Quiz from "../../components/Quiz";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <main class="max-w-[960px] mx-auto px-8 lg:px-0">
    <div class="space-y-4 pt-12">
      <div class="space-y-1 text-center">
        <h1 class="text-3xl font-bold text-flexoki-base-700">{t('home.title')}</h1>
        <p class="text-lg text-flexoki-base-500">
          {t('home.subtitle')}
        </p>
      </div>

      <div class="max-w-[400px] mx-auto mt-12 lg:mt-24">
        <Quiz client:load lang={lang} />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
