---
import Layout from "../../layouts/Layout.astro";
import QuizComponent from "../../components/Quiz.tsx";
import { getLangFromUrl, useTranslations } from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <div class="flex flex-col items-center justify-center h-screen">
    <QuizComponent client:load lang={lang} />
  </div>
</Layout>
