---
import Layout from "../layouts/Layout.astro";

import * as whatIs from "../content/what-is.md";
---

<Layout>
  <main class="flex flex-col items-center justify-center h-screen max-w-[960px]">
    <div class="space-y-4">
      <div class="space-y-1">
        <h1 class="text-4xl font-bold text-flexoki-base-700">CPTI</h1>
        <p class="text-lg text-flexoki-base-500">
          Coder Personality Type Identification
        </p>
      </div>
      <a
        href="/quiz"
        class="bg-flexoki-green-500 text-flexoki-paper font-medium px-2 py-1 text-sm rounded-md"
        >开始测试</a
      >
      <div class="prose">
        <whatIs.Content />
      </div>
    </div>
  </main>
</Layout>
