<footer class="py-24 text-center text-sm text-flexoki-base-500">
  Made with ❤️ by <a href="https://x.com/randyloop" target="_blank" class="text-flexoki-green-500 hover:text-flexoki-green-500 font-medium">Randy Lu</a>
</footer>