---
import Layout from "./Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main class="max-w-[960px] mx-auto px-8 lg:px-0 prose mt-12 lg:mt-24">
    <slot />
  </main>
  <Footer />
</Layout>