---
import "../styles/global.css";
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>CPTI - 编程人格类型测试</title>
	</head>
	<body>
		<main class="flex flex-col items-center justify-center h-screen">
			<slot />
		</main>
	</body>
</html>
